.hero{
    background: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: white;
    position: relative;

}
nav{
    display: flex;
    align-items: center;
    padding: 20px, 8px;
}
nav .menu-img{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo{
    width: 160px;
    cursor: pointer;

}
nav ul{
    flex: 1;
    text-align: right;

}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin:0 20px ;
}
nav ul li a{
    text-decoration: none;
    color: white;

}
button{
    background: #efefef;
    height: 29px;
    width: 57px;
    border-radius: 20px;
    outline: 0;
    cursor: pointer;
    transition: .5s;

}
button span{
    display: block;
    background:red;
    height: 25px;
    width: 21px;
    border-radius: 30px;
   margin-left: -6px;
    margin-top: -.8px;
    transition: .5s, margine-left 0.5s ;
}
.lamp-container{
    position: absolute;
    top: -20px;
    left: 22px; 
    width: 260px;
    margin-left: 50px;
    margin-top:-40px;
}
.lamp{
    width: 10%;
    margin-left: 15%;
    margin-top: -50.5px;
   

}
.light{
    position: absolute;
    top: 37%;
    left: 18.8%;
    transform: translate(-50%);
    width: 40%;
    margin-left: 10px;
    opacity: 0;
    transition: opacity .5s;
    color: white;


}
.text-container{
    max-width:600% ;
    margin-top: -10%;
    margin-left: 50%;

}
.text-container h1{
    font-size: 80px;
    font-weight: 400px;
}
.text-container a {
    text-decoration: none;
    background:greenyellow;
    padding: 14px 40px;
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 30px;
    



}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
    margin-right: 100px;
    

}
.control .line{
    width: 250px;
    height: 4px;
    background:white;
    margin: 0 20px;
    border-radius: 2px;

}
.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: green;
    display: block;
}
.active{
    background:green;
}
.active span{
    background:white;
    margin-left: 26px;
}
.on{
    opacity: 1;
}